{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

<!-- Основное содержимое home-->
{% block content %}
        <div class="container-fluid p-4">
            <h1 class="mb-4 d-flex justify-content-center">Главная</h1>
            <p class="d-flex justify-content-center">Добро пожаловать, приятных покупок!</p>
            <div class="row">
                <!-- Карточка товара -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Товар 1</h5>
                            <h2>$100</h2>
                            <p>10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-danger w-50">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Товар 1</h5>
                            <h2>$100</h2>
                            <p>10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-danger w-50">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Товар 1</h5>
                            <h2>$100</h2>
                            <p>10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-danger w-50">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}